<html>
  <head>
      <title>dobot</title>
      <style>
          h1 {
              text-align: center;
          }
          div {
              width: 82px;
              height: 82px;
              background-color: #ccc;
              border: 1px solid black;
          }
          .row {
              width: 252px;
              height: 84px;
              margin: 0 auto;
          }
          #forward {
              margin: 0 auto;
          }
          #left, #stop, #right {
              position: relative;
              float: left;
          }
          #stop {
              background-color: red;
          }
          #backward {
              margin: 0 auto;
          }
      </style>
  </head>
  <body>
      <h1>{{status}}</h1>
      <div id="forward"></div>
      <div class="row">
        <div id="left"></div>
        <div id="stop"></div>
        <div id="right"></div>
      </div>
      <div id="backward"></div>
      
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
          $().ready(function() {
             $('#forward').click(function() {
                $.post('/drive/1');     
             });
              $('#backward').click(function() {
                $.post('/drive/2');     
             });
              $('#left').click(function() {
                $.post('/drive/4');     
             });
              $('#right').click(function() {
                $.post('/drive/3');     
             });
              $('#stop').click(function() {
                $.post('/drive/5');     
             });
          });
      </script>
  </body>
</html>
